body {
    background-color: rgb(0, 204, 255);
    width: 1900px;
}
body main img {
    width: 400px;
    margin-left: 720px;
    margin-top: 40px;
}
main form {
    margin-left: 700px;
    background-color: white;
    width:500px;
    height: 430px;
    border-radius: 30px;
    margin-top: 100px;
}
body form img {
    width: 25px;
    position: absolute;
    left: 380px;
    top: 480px;
    background: none;

}

form input {
    width: 350px;
    height: 50px;
    margin-top: 20px;
    border-radius: 15px;
    border: 3px solid rgb(0, 0, 0);
    padding-left: 10px;
    margin-left: 65px;
}
form p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    font-family: Arial, sans-serif;
}
.btn2 {
    width: 150px;
    height: 50px;
    margin-left: 175px;
    margin-top: 30px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(0, 204, 255);
    cursor: pointer;
    border: none;
    color: white;
} 

.btn2:hover {
    background-color: rgb(0, 153, 191);
    transition: all 0.8s;
    transform: scale(1.1);
}
form h3 {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-top: 35px;
}

form h3 a {
    color: rgb(0, 204, 255);
}










