* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.header {
    height: 60px;
    background-color: #7dd3fc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 35px;
}


.Avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e5e7eb;

} 


.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.content {
    padding: 40px;
    text-align: center;
}


.card {
    width: 400px;
    margin: 30px auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}


.card-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e5e7eb;
}


.card-text h3 {
    margin-bottom: 5px;
}


.card2 {
    width: 400px;
    margin: 30px auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}


.card-img2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e5e7eb;
}


.card-tex2 h3 {
    margin-bottom: 5px;
}


.card3 {
    width: 400px;
    margin: 30px auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}


.card-img3 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e5e7eb;
}


.card-text3 h3 {
    margin-bottom: 5px;
}



.card4 {
    width: 400px;
    margin: 30px auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}


.card-img4 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e5e7eb;
}


.card-text4 h3 {
    margin-bottom: 5px;
}
