.karusel {
    width: 170px;
    height: 750px;
    background-color: rgb(160, 160, 160);
    position: absolute;
    left: 1536px;
}
/* =-----------------------=---------=--- */
header {
    display: flex;
    background: rgb(0, 204, 255);
    height: 80px;
    margin-top: -8px;
    width: 1536px;
    margin-left: -8px;
}

.btn1 {
    border: none;
    background: none;
    width: 93px;
    height: 60px;
    margin-top: 15px;
    margin-left: 60px;
    margin-right: 60px;
}

.btn1 div {
    background: white;
    width: 58px;
    height: 8px;
    margin-top: -5px;
    border-radius: 2px;
}

.hr {
    width: 3px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    margin-left: -10px;
}

.header-02 img {
    width: 120px;
    height: 120px;
}

.img-01 {
    width: 100px;
    height: 70px;
    margin-left: 30px;
}

.p-01 {
    font-size: 35px;
    font-weight:lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 140px;
    margin-top: -60px;
}









































