body {
    background-color: rgb(0, 204, 255);
    width: 1900px;
}
body main img {
    width: 400px;
    margin-left: 720px;
    margin-top: 40px;
}
main form {
    margin-left: 700px;
    background-color: white;
    width:500px;
    height: 430px;
    border-radius: 30px;
    margin-top: 100px;
}
body form img {
    width: 25px;
    position: absolute;
    left: 380px;
    top: 480px;
    background: none;

}

form input {
    width: 350px;
    height: 50px;
    margin-top: 20px;
    border-radius: 15px;
    border: 3px solid rgb(0, 0, 0);
    padding-left: 10px;
    margin-left: 65px;
}
form p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    font-family: Arial, sans-serif;
}
.btn2 {
    width: 150px;
    height: 50px;
    margin-left: 175px;
    margin-top: 30px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(0, 204, 255);
    cursor: pointer;
    border: none;
    color: white;
} 

.btn2:hover {
    background-color: rgb(0, 153, 191);
    transition: all 0.8s;
    transform: scale(1.1);
}
form h3 {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-top: 35px;
}

form h3 a {
    color: rgb(0, 204, 255);
}
@media (max-width: 1080px) {
    body {
        width: 100%;
    }
    body main img {
        width: 300px;
        margin-left: 150px;
        margin-top: 20px;
    }
    main form {
        margin-left: 50px;
        width: 300px;
        height: 500px;
        margin-top: 50px;
    }
    form input {
        width: 250px;
        height: 40px;
        margin-left: 25px;
    }
    body form img {
        left: 260px;
        top: 580px;
    }
    .btn2 {
        width: 120px;
        height: 40px;
        margin-left: 90px;
        margin-top: 20px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    body {
        width: 100%;
    }
    body main img {
        width: 250px;
        margin-left: 100px;
        margin-top: 20px;
    }
    main form {
        margin-left: 20px;
        width: 260px;
        height: 500px;
        margin-top: 50px;
    }
    form input {
        width: 200px;
        height: 40px;
        margin-left: 30px;
    }
    body form img {
        left: 210px;
        top: 580px;
    }
    .btn2 {
        width: 100px;
        height: 40px;
        margin-left: 80px;
        margin-top: 20px;
        font-size: 14px;
    }
}
@media (max-width: 320px) {
    body {
        width: 100%;
    }
    body main img {
        width: 200px;
        margin-left: 50px;
        margin-top: 20px;
    }
    main form {
        margin-left: 10px;
        width: 220px;
        height: 500px;
        margin-top: 50px;
    }
    form input {
        width: 180px;
        height: 40px;
        margin-left: 20px;
    }
    body form img {
        left: 190px;
        top: 580px;
    }
    .btn2 {
        width: 80px;
        height: 40px;
        margin-left: 70px;
        margin-top: 20px;
        font-size: 12px;
    }
}

.error {
    color: red;
    text-align: center;
    display: block;
    font-size: 11px;
    margin-bottom: -25px;
    margin-top: -10px;
}








